<<<<<<< HEAD
/* fonts */
$heading-font: 'Mirza', cursive;
$body-font: 'Josefin Sans', sans-serif;

/* colors */
$primary-color: #02d1d1;
$secondary-color: #d13201;
$light-color:#F9FBFB;
$dark-color: #3A4A4D;

/* media breakpoints */
$laptop : 1000px;
$tablet : 800px;
$mobile : 480px;
=======
$heading-font: 'Mirza', cursive;
$body-font: 'Josefin Sans', sans-serif;

$primary-color: #02d1d1;
$secondary-color: #d13201;
$light-color:#F9FBFB;
$dark-color: #3A4A4D;
>>>>>>> 19e3f8a9b42affd66fde29e987b2904424074d61
